<div class="container mt-4">
  <div class="transparency">
    <h4 class="text-white">Desarrollador .NET</h4>
    <h2 class="text-white">Víctor Martínez</h2>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="transparency">
        <p class="text-white">ahal_tocob@hotmail.com</p>
        <p class="text-white">
          Universidad de Londres 2019 - 2022
          <br />
          Licenciatura en informatica
          <br />
        </p>
        <h4 class="text-white">Cursos</h4>
        <p class="text-white">Udemy, Software Refactoring 2020</p>
        <p class="text-white">
          Gotarget, Diseño web e introducción a la programación 2018
        </p>
        <h4 class="text-white">Otros</h4>
        <p class="text-white">
          Fundamentos
          <br />
          PHP, JavaScript, JQuery, Bootstrap, Java Android.
          <br />
          Patrones de diseño, patrones de arquitectura, buenas prácticas, solid,
          código limpio.
        </p>
      </div>
    </div>

    <div class="col-md-8">
      <div class="transparency">
        <p class="text-white">
          Desarrollador con 4 años de experiencia guiado por buenas prácticas y
          estándares. Además del desarrollo de software me gusta la literatura y
          el género de fantasía heroica, las paradojas del tiempo, el espacio; escuchar
          podcast.         
        </p>
      </div>
      
      <div class="transparency">
        <h4 class="text-white">Te creemos 2022 - Actualidad</h4>
        <p class="text-white">
          Creación, mantenimiento de módulos, consumo y creación de servicios ApiRest. 
          Testing en postman
        </p>
      </div>

      <div class="transparency">
        <h4 class="text-white">PCH Servicios Financieros 2021</h4>
        <p class="text-white">
          Mantenimiento de sistema de cartera de clientes, desarrollado en 
          MVC Framework 4.5, EntityFramework y SqlServer. 
          Entranamiento de desarrollador Jr.
        </p>
      </div>

      <div class="transparency">
        <h4>LatinID 2018-2021</h4>
        <p class="text-white">
          Mantenimiento del sistema de genera identificaciones únicas a través de la tecnología biométrica para el
          otorgamiento de crédito. Interactuando apps de escritorio, móvil y
          web, dispositivos biométricos e implementación de herramientas de
          terceros. Usando Asp.Net, MCV 5 .NET, WebApi.NET, WebApiCore,
          WindowsForm, con persistencia en SQLite y SQLServer. Realizando
          refactoring para la separación en capas, para un mejor mantenimiento y
          escabilidad. 
          <br/>
          Proyecto y demos de
          enrolamiento, control de acceso, usando MVC 5.NET para la
          visualización de datos, WindowsForm para la interacción con
          dispositivos biométricos, consumo de ApiRest. 
          <br/>
          Pesistencia en MySQL, Postgres, SQLite, SQLServer, incluyendo modelado.
        </p>
      </div>

      <div class="transparency">
        <h4 class="text-white">UCol Fabrica de Software 2018</h4>
        <p class="text-white">
          Migración de sistema del sistema de
          administración de propiedad industrial a aplicación de escritorio C#,
          normalización de tablas, creación de script en PLQSL.
        </p>
      </div>

    </div>
  </div>
</div>